body {font: 12px Arial, Helvetica, sans-serif; line-height:normal; padding:0; margin:0;        
color: #000; background: #fff; height:100%; width:100%;}

.print-wrap {background-color:#fff; width:800px; margin:0 auto; padding:20px; overflow:hidden; 
border:1px solid #e3e3e3; border-top:0;}
.print-title {margin:20px 0; font-size:24px;}
.speed-pr {position:relative;}
.speed-pr > a:first-child {display:block; margin-bottom:10px;}
.speed-pr span {cursor:pointer; position:absolute; right:0; top:0;}